<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Wallet</title>
    <script src='main.js'></script>
</head>
<body>
        <div>
            <h1>Wallet</h1>
            <div id="wallet_amount">0</div>
            <button id="reload_wallet">Reload wallet</button>

            <p>Public Key</p>
            <textarea id="public_key"></textarea>

            <p>Private Key</p>
            <textarea id="private_key"></textarea>


            <p>Blockchain Address</p>
            <textarea id="blockchain_address"></textarea>
        </div>

        
</body>
</html>
